body { 
  text-align: center;
  background-color: skyblue;
  background-image: url(./밤하늘.jpg);
}
article#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
article#bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  border: 2px solid ;
  background-color: gray;
}
h1 {
  font-size: 5em;
  color:white;
}
div#search_box {
  width: 561px;
  height: 44px;
  display: flex;
  background-color: white;
  border-radius: 30px;
}
input[type="search"] {
  border: 0px;
  font-size:medium;
  width: 460px;
}
div.icon {
  margin-top:9.5px;
  margin-left:20px;
  margin-right:15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,a:active,a:focus{
  text-decoration: none;
}
article#bookmark div {
  margin: 10px;
}
